@import "tailwindcss";
body {
  background-color: #f7f7f7;
}

@layer base {
}

.custom-rate li {
  margin-right: 3px !important;
}
.ant-tabs-nav {
  display: flex !important;
  justify-content: center;
}
.pagination-custom {
  margin-bottom: 10px !important;
}
.float_btn-edit {
  margin-right: 100px;
}

.image_desktop-size {
  width: 183px;
  height: 281px;
}
.delete_btn {
  opacity: 0;
}

/* mobile */
@media only screen and (max-width: 767px) {
  .float_btn-edit {
    margin-right: 1px;
  }
}
/* media tablete */
@media only screen and (min-width: 768px) and (max-width: 1119px) {
  .float_btn-edit {
    margin-right: 10px;
  }
}
